<!DOCTYPE html>
<html lang="es" 
    xmlns:th="http://thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout.html}">
  <head>

    <title>Menu Alumno</title>

  </head>
  <body>

    <main layout:fragment="content">
      
      <div class="container position-absolute top-50 start-50 translate-middle">
        <p class="display-2 text-center p-3">Asignación de práctica</p>
        <div class="container">
          <table class="table table-bordered">
            <thead class="table-warning">
              <tr>
                <td colspan="2" class="text-center fw-bold fs-4">Asignación de práctica de Rubén Ascarza Peñas</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row" class="fs-5 text-center">Práctica</th>
                <td class="fs-5 text-center">Desarrollo de Software</td>
              </tr>
              <tr>
                <th scope="row" class="fs-5 text-center">Empresa</th>
                <td class="fs-5 text-center">Software Inc</td>
              </tr>
              <tr>
                <th scope="row" class="fs-5 text-center">Tutor</th>
                <td class="fs-5 text-center">Benito Martin</td>
              </tr>
              <tr>
                <th scope="row"class="fs-5 text-center" >Fechas</th>
                <td class="fs-5 text-center">14/01/2023 - 25/04/2023</td>
              </tr>
            </tbody>
          </table>
          
        </div>
        <div class="text-center">
            <p class="fw-semibold fs-5" style="color:#188754">Enhorabuena ha sido admitido en las prácticas.</p>
        </div>
      </div>
    </main>
  </body>
</html>
