<!DOCTYPE html>
<html lang="es" 
    xmlns:th="http://thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout.html}">
  <head>

    <title>Menu Alumno</title>

  </head>
  <body>
<!--
TODO DUDAS:
    -En el select de la vista eleccion practica no puede seleccionar dos practicas como 1º (ejemplo). 
    This code is an HTML and Bootstrap CSS. The table shows data to the user, so the user has to select from the select column the position he wants. But I want that if in row 1 the select is 1 it cannot be in row 2.
-->

    <main layout:fragment="content">
      <div class="container position-absolute top-50 start-50 translate-middle">
        <p class="display-2 text-center p-3">Elección Práctica</p>
        <div class="container">
          <table class="table">
            <thead class="table-primary">
              <tr>
                <th scope="col">Práctica</th>
                <th scope="col">Empresa</th>
                <th scope="col">Horario</th>
                <th scope="col">Plazas disponibles</th>
                <th scope="col">Nº preferencia</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Desarollo de software</td>
                <td>Software Inc</td>
                <td>L-V 10h-14h</td>
                <td>5</td>
                <td>
                  <select class="form-select form-select-sm" id="select1" aria-label=".form-select-sm example">
                    <option selected>Selecciona número de preferencia</option>
                    <option value="1">1º</option>
                    <option value="2">2º</option>
                    <option value="3">3º</option>
                    <option value="4">4º</option>
                    <option value="5">5º</option>
                    <option value="6">6º</option>
                    <option value="7">7º</option>
                    <option value="8">8º</option>
                    <option value="9">9º</option>
                    <option value="10">10º</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>Analista de ciberseguridad</td>
                <td>CyberSec</td>
                <td>X-V 9h-15h</td>
                <td>3</td>
                <td>
                  <select class="form-select form-select-sm" id="select2" aria-label=".form-select-sm example" >
                    <option selected>Selecciona número de preferencia</option>
                    <option value="1">1º</option>
                    <option value="2">2º</option>
                    <option value="3">3º</option>
                    <option value="4">4º</option>
                    <option value="5">5º</option>
                    <option value="6">6º</option>
                    <option value="7">7º</option>
                    <option value="8">8º</option>
                    <option value="9">9º</option>
                    <option value="10">10º</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>Data Science</td>
                <td>Magic Data</td>
                <td>M-X 10h-15h</td>
                <td>1</td>
                <td>
                  <select class="form-select form-select-sm" id="select3" aria-label=".form-select-sm example">
                    <option selected>Selecciona número de preferencia</option>
                    <option value="1">1º</option>
                    <option value="2">2º</option>
                    <option value="3">3º</option>
                    <option value="4">4º</option>
                    <option value="5">5º</option>
                    <option value="6">6º</option>
                    <option value="7">7º</option>
                    <option value="8">8º</option>
                    <option value="9">9º</option>
                    <option value="10">10º</option>
                  </select>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="text-center">
            <button type="button" class="btn btn-outline-danger"> Guardar preferencias</button>
        </div>
      </div>
    </main>
  </body>
  <script src="/js/jquery-3.6.2.js"></script>
  <script type="text/javascript">

    $(document).ready(function(){
      const selects = $("select");

      $("select").change(function() { //Esperando a que algun select cambie

        const val = $(this).val(); //Guardamos el valor al que ha cambido
        
        selects.each(function() { //Recorremos todos los selects desactivando ese valor. 

          $(this).find("option[value= '"+val+"']").hide();

        })

      })

    });

  </script>
</html>
